:root {
  --branding-color: #e66cc8;
  --secondary-color: #3d0c7b;
  --accent-color: #fcc97a;
}
body {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
}
nav {
  background: white;
}
.navbar-nav {
  margin-left: 10px;
}
.navbar-logo {
  max-width: 50px;
  margin: 3px 0;
}
.nav-link:hover {
  color: var(--accent-color);
}
.active-link {
  color: var(--branding-color);
}
.hero,
.footer {
  background-image: radial-gradient(
    var(--branding-color),
    var(--secondary-color)
  );
  background-position: center;
  background-size: cover;
  display: block;
  text-align: center;
  margin: 0 auto;
}
.hero-image {
  max-width: 450px;
  padding: 55px 20px;
}
h1,
h2,
h3 {
  font-family: "Della Respira", serif;
}
h1 {
  color: var(--accent-color);
  font-size: 35px;
}
.paragraph {
  font-size: 20px;
  font-weight: 500;
}
.location {
  font-family: "Della Respira", serif;
  font-size: 20px;
  font-weight: 500;
}
.social-link {
  color: var(--accent-color);
  font-size: 20px;
  transition: all 100ms ease-in-out;
}
.social-link:hover {
  color: var(--branding-color);
}
.footer-image {
  max-width: 450px;
  padding: 28px 20px;
}
