:root {
  --branding-color: #e66cc8;
  --secondary-color: #3d0c7b;
  --accent-color: #fcc97a;
}
nav {
  background: white;
}
.navbar-nav {
  margin-left: 10px;
}
.navbar-logo {
  max-width: 50px;
  margin: 3px 0;
}
.active-link {
  color: var(--branding-color);
}
.hero {
  background-image: radial-gradient(
    var(--branding-color),
    var(--secondary-color)
  );
  display: block;
  text-align: center;
  margin: 0 auto;
}
h1 {
  color: var(--accent-color);
  font-size: 24px;
}
img.lotus-homepage {
  max-width: 450px;
}
